<div fxLayout="row">
    <div fxFlex>
  
      <h1 class="m-t-20">
        Início
      </h1>
  
      <div fxLayout="row" fxLayoutGap="1%">
        <div fxFlex="50%">
  
          <mat-card class="default-card">
            <mat-card-header>
              <mat-card-title>Últimas Vagas Visitadas</mat-card-title>
            </mat-card-header>
            <mat-card-content>
  
              <p class="txt-center">Sem Vagas no Momento.</p>

              <mat-list style="display:none">
                <mat-list-item
                  *ngFor="let job of jobList"
                >
                  <!--img
                    matListAvatar
                    src="job.company.logoUrl"
                    alt="..."
                  >
                  <h3 matLine>
                    <a href="javascript:;" routerLink="/vagas/{{ job.id }}">
                      {{ job.jobTitle }}
                    </a>
                  </h3>
          
                  <div matLine>
                    <div fxLayout="row">
                      <div class="col small-chips">
          
                        <mat-chip-list matLine>
                          <mat-chip *ngFor="let tag of job.tags">{{ tag }}</mat-chip>
                        </mat-chip-list>
          
                      </div>
                    </div>
          
                  </div-->
          
                </mat-list-item>
              </mat-list>
  
            </mat-card-content>
          </mat-card> 
  
        </div>
        <div fxFlex="50%" *ngIf="!user.emailVerified" class="p-t-20">
      
          <ngx-auth-firebaseui-email-confirmation
            [email]="user.email"
            verifyEmailTitleText="Confirme seu Cadastro"
            verifyEmailConfirmationText="Clique no link enviado para seu email e confirme seu cadastro no Camaleão!"
            sendNewVerificationEmailText="Enviar Email Novamente"
            signOutText="Logout"

            messageOnEmailConfirmationSuccess="Email enviado com sucesso!"
          >
          </ngx-auth-firebaseui-email-confirmation>
  
        </div>
      </div>
  
    </div>
  </div>