<div fxLayout="row">
  <div fxFlex>

    <h1 class="m-t-20">
      Buscar Empresas 
    </h1>
    <div style="float:left; margin: -3.6em 0em 0em 18em">
    
      <button mat-raised-button color="accent" routerLink="/empresas/incluir">
        Incluir Empresa
        <i class="fa fa-plus-circle"></i>
      </button>
      
    </div>

    <form [formGroup]="frmSearch" *ngIf="frmSearch" novalidate>
      <mat-card class="default-card">
        <mat-card-content>

          <div fxLayout="row" fxLayoutGap="1%">
            <div fxFlex="33%">

              <mat-form-field class="full-width">
                <input matInput placeholder="Nome da Empresa" formControlName="name">
              </mat-form-field>
              
            </div>
          </div>

        </mat-card-content>
        <mat-card-actions class="p-b-10">
          
          <div fxLayout="row" fxLayoutGap="1%" style="display: none">
            <div fxFlex="30%" class="txt-right">
              
              <button
                mat-button
                color="warning"
                (click)="clearParams()"
                style="margin-right: 2.1em;"
              >
                Limpar Parâmetros
              </button>
              
            </div>
            <div fxFlex="36%" class="txt-center">

              <button
                mat-raised-button
                color="primary"
                (click)="search()"
              >
                Buscar
              </button>

            </div>
            <div fxFlex="50%" class="txt-left">
  
              <!--
              Lógica:&nbsp;&nbsp;
              <mat-radio-group
                formControlName="searchLogic"
                aria-label="Select an option"
              >
                <mat-radio-button
                  [value]="'AND'"
                  title="Todos os parâmetros devem ser satisfeitos em cada item do resultado"
                >AND (exclusivista)</mat-radio-button>
                &nbsp;&nbsp;
                <mat-radio-button
                  [value]="'OR'"
                  title="Qualquer um dos parâmetros pode ser satisfeito em cada item do resultado"
                  >
                    OR (inclusivista)
                </mat-radio-button> 
              </mat-radio-group>
              -->
              
            </div>
          </div>

        </mat-card-actions>
      </mat-card>

      <div class="row loader-panel" *ngIf="flagLoadingData">
        <div class="col">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </div>
      </div>

      <div fxLayout="row" *ngIf="!flagLoadingData && companies != null">
        <div
          class="no-items"
          *ngIf="companies.length == 0"
        >

          Nenhuma empresa encontrada...

        </div>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="column"
          *ngIf="companies.length > 0"
        >
          <div fxFlex="49.5%" *ngFor="let company of companies">

            <app-company-card [company]="company"></app-company-card>

          </div>      
        </div>

      </div>

    </form>
  </div>
</div>
