
<div class="candidate-container" *ngIf="candidateDetails">

  <app-candidate-panel-basic-info-edit
    [candidate]="candidateDetails.candidate"
    [candidateProfile]="candidateDetails.candidateProfile"
  ></app-candidate-panel-basic-info-edit>

  <app-candidate-panel-habilities-edit
    [candidateHabilities]="candidateDetails.candidateHabilities"
  ></app-candidate-panel-habilities-edit>

  <app-candidate-panel-education-edit
    [candidateEducation]="candidateDetails.candidateEducation"
  ></app-candidate-panel-education-edit>

  <app-candidate-panel-experience-edit
    [candidateExperience]="candidateDetails.candidateExperience"
  ></app-candidate-panel-experience-edit>

</div>