

.avatar-pic {

  position: relative;
  left: -0px;
  top: 12px;
  width: 100px;
  height: 100px;
  margin-bottom: -100px;
}

  .avatar-pic img {

    border-radius: 50%;
    width: 100%;
  }