
<div fxLayout="row" *ngIf="candidate">
  
  <!-- MODE: json -->
  <div fxFlex="80%" fxFlexOffset="10%" *ngIf="mode == 'json'">

    <h5>
      Candidate
    </h5>
    <div>
      {{ candidate | json }}
    </div>

  </div>

  <!-- MODE: default -->
  <div fxFlex="100%" *ngIf="mode == 'default'">

    <h3 *ngIf="showTitle">
      {{ candidate.name }}
    </h3>

    <div class="avatar-pic" *ngIf="candidate.photoUrl">

      <img
        src="{{ candidate.photoUrl }}"
        alt="{{ candidate.name }}"
      >
  
    </div>
    
    <table>
      <tbody>
        <tr>
          <th>
            Data de Nascimento:
          </th>
          <td>

            {{ candidate.birth }}
            
          </td>
          <th>
            Documentos:
          </th>
          <td>

            CPF: {{ candidate.cpf || 'n/d' }} &nbsp;&nbsp;RG: {{ candidate.docRg || 'n/d' }}
            
          </td>
          <th>
            Contato:
          </th>
          <td>

            {{ candidate.phone || 'n/d' }}
            
          </td>
        </tr>
        <tr>
          <th>
            Estado:
          </th>
          <td>

            {{ candidate.addrState || 'n/d' }}
            
          </td>
          <th>
            Cidade:
          </th>
          <td>

              {{ candidate.addrCity || 'n/d' }}
            
          </td>
          <th>
            Bairro - CEP:
          </th>
          <td>

            {{ candidate.addrDistrict }} - {{ candidate.addrPostalCode || 'n/d' }}
            
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>


</div>
<div fxLayout="row" *ngIf="candidateProfile">

  <!-- MODE: json -->
  <div fxFlex="80%" fxFlexOffset="10%" *ngIf="mode == 'json'">

    <h5>
      Perfil
    </h5>
    <div>
      {{ candidateProfile | json }}
    </div>

  </div>
  
  <!-- MODE: default -->
  <div fxFlex="100%" *ngIf="mode == 'default'">

    <h3>
      Perfil
    </h3>
    <table>
      <tbody>
        <tr>
          <th>
            Gênero:
          </th>
          <td>

            {{ candidateProfile.gender | genderName }}
            
          </td>
          <th>
            Sexo:
          </th>
          <td>

            {{ candidateProfile.sex | sexName }}
            
          </td>
          <th>
            Etnia:
          </th>
          <td>

            {{ candidateProfile.ethnicity | ethnicityName }}
            
          </td>
          <th>
            Pne?:
          </th>
          <td>

            {{ candidateProfile.pne ? 'Sim' : 'Não' }}{{ candidateProfile.pne && candidateProfile.pneNote ? (' - ' + candidateProfile.pneNote) : '' }}
            
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>