
<h1>Dados Básicos da Empresa</h1>

<form [formGroup]="frmCompanyBasicInfo">

    <mat-card class="default-card">
      <mat-card-content *ngIf="flagLoadingData">
  
        <div
          fxLayout="row"
          class="loader-panel"
          style="padding-left: 48%; padding-top: 2.6em"
        >
  
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
          
        </div>
  
      </mat-card-content>
      <mat-card-content *ngIf="!flagLoadingData">
        
        <div fxLayout="row">
          <div fxFlex>
          
            <mat-form-field>
              <mat-label>
                Nome:
              </mat-label>
              <input
                matInput
                placeholder="Nome da Empresa"
                formControlName="name"
                required
              >
            </mat-form-field>
  
          </div>
        </div>
  
        <div fxLayout="row">
          <div fxFlex="40%">
  
            <mat-form-field>
              <mat-label>
                CNPJ:
              </mat-label>
              <input
                matInput
                formControlName="docRg"
                required
              >
            </mat-form-field>
            
          </div>
          <div fxFlex="25%" fxFlexOffset="5%">
        
            <mat-form-field>
              <mat-label>
                Contato:
              </mat-label>
              <input
                matInput
                placeholder="dd/mm/aaaa"
                [textMask]="ptBrDateMask"
                formControlName="birth"
                required
              >
            </mat-form-field>
  
          </div> 
        </div>
  
      </mat-card-content>
    </mat-card>

    <div fxLayout="row" class="m-t-30" *ngIf="!flagLoadingData">
      <div fxFlex="33%" fxFlexOffset="33%">
        
        <button
          color="accent"
          class="w-100"
          mat-flat-button
          [disabled]="!isValid"
          (click)="save($event)"
        > 
          Salvar Dados
        </button>
        
      </div>  
    </div>  
    
  </form>