
<div fxLayout="row">
  <form [formGroup]="frmCandidateHabilities" fxFlex="100%">

    <div class="top-right-form-label">
      <button
        color="accent"
        class="w-100"
        mat-flat-button
        (click)="save($event)"
      > 
        <i class="fa fa-save"></i>
        Salvar
      </button>
    </div>

    <h3>
      Habilidades
    </h3>

    <div
      *ngIf="!categories || categories.length == 0"
      class="txt-center"
    >
      <br><br>
      <small>(nenhuma definida)</small>
    </div>

    <ng-container *ngIf="categories.length > 0">

      <div fxLayout="row wrap">
        <div
          fxFlex="18%"
          fxFlexOffset="2%"
          *ngFor="let category of categories"
        >

          <h5>{{ category }} ({{ categoryCounts[category] || 0 }})</h5>
          <div style="height: 18.2em; overflow-y: scroll; overflow-x: hidden;">

            <div
              fxLayout="row"
              *ngFor="let skill of habilitiesByCategory[category]"
            >
              <div fxFlex>

                <button
                  mat-flat-button
                  class="m-b-10 btn-sm"
                  style="width: 97%"
                  [color]="skill.uiSelected ? 'accent' : 'primary'"
                  [title]="skill.toString()"
                  (click)="toggleSkill(skill)"
                >
                  {{ skill.name }}
                </button>

              </div>
            </div>
            
          </div>
          
        </div>
      </div>
      
    </ng-container>
    
  </form>
</div>