
<app-header></app-header>

<div fxLayout="row">
  <div fxFlex="42%" fxFlexOffset="29%">

    <ngx-auth-firebaseui
      [providers]="[providers.Email]"
      guestEnabled="false"
      signInTabText="Login"
      signInCardTitleText="Entrar"
      verifyEmailGoBackText="Voltar"
      signOutText="Logout"
      loginButtonText="Login"
      homeButtonText="Home"
      forgotPasswordButtonText="Esqueci a senha"
      nameText="Nome"
      nameErrorRequiredText="Campo obrigatório"
      nameErrorMinLengthText="Mínimo 5 caracteres"
      nameErrorMaxLengthText="Máximo 50 caracteres"
      emailText="Email"
      emailErrorRequiredText="Campo obrigatório"
      emailErrorPatternText="Email inválido"
      passwordText="Senha"
      passwordErrorRequiredText="Campo obrigatório"
      registerTabText="Cadastre-se"
      registerCardTitleText="Cadastro"
      registerButtonText="Realizar Cadastro"
      resetPasswordTabText="Resetar Senha"
      resetPasswordInputText="Senha"
      resetPasswordErrorRequiredText="Campo obrigatório"
      resetPasswordErrorPatternText="Senha inválida"
      resetPasswordActionButtonText="Resetar Senha"

      emailConfirmationTitle="Confirmar"
      emailConfirmationText="Confirmar e-mail"
      messageOnAuthSuccess="Login realizado com sucesso!"

      verifyEmailTitleText="Confirme o Email"
      verifyEmailConfirmationText="Abra seu email e clique no link para confirmar seu cadastro."
      verifyEmailGoBackText="Voltar"
      sendNewVerificationEmailText="Enviar Novo Email"
      signOutText="Logout"
      messageOnEmailConfirmationSuccess="Email enviado com sucesso!"

      (onSuccess)="redirectUser($event)"
      (onError)="handleError($event)"
    >
    </ngx-auth-firebaseui>

    <div fxLayout="row" *ngIf="authError" class="p-20 txt-center">
      <div fxFlex [title]="authError.code">

        {{ authError.message }}

      </div>
    </div>

  </div>
</div>