
<mat-toolbar color="primary">
  
  <img src="assets/img/logo-camaleao-branco-trans.png" style="width: 80px" alt="Logo Camaleao.co" >
  
</mat-toolbar>

<div fxLayout="row">
  <div fxFlex="42%" fxFlexOffset="29%">

    <ngx-auth-firebaseui
      [providers]="[providers.Email]"
      guestEnabled="false"
      signInTabText="Login"
      signInCardTitleText="Entrar"
      loginButtonText="Login"
      homeButtonText="Home"
      forgotPasswordButtonText="Esqueci a senha"
      nameText="Nome"
      nameErrorRequiredText="Campo obrigatório"
      nameErrorMinLengthText="Mínimo 5 caracteres"
      nameErrorMaxLengthText="Máximo 50 caracteres"
      emailText="Email"
      emailErrorRequiredText="Campo obrigatório"
      emailErrorPatternText="Email inválido"
      passwordText="Senha"
      passwordErrorRequiredText="Campo obrigatório"
      registerTabText="Cadastre-se"
      registerCardTitleText="Cadastro"
      registerButtonText="Realizar Cadastro"
      resetPasswordTabText="Resetar Senha"
      resetPasswordInputText="Senha"
      resetPasswordErrorRequiredText="Campo obrigatório"
      resetPasswordErrorPatternText="Senha inválida"
      resetPasswordActionButtonText="Resetar Senha"

      emailConfirmationTitle="Confirmar"
      emailConfirmationText="Confirmar e-mail"
      messageOnAuthSuccess="Login realizado com sucesso!"
      (onSuccess)="redirectUser($event)"
      (onError)="printError()"
    >
    </ngx-auth-firebaseui>


  </div>
</div>