
<div fxLayout="row">

  <!-- MODE: default -->
  <div fxFlex="100%">

    <h3>
      Eperiência
    </h3>

    <form [formGroup]="frmCandidateExperience">
        
      <div fxLayout="row">          
        <div fxFlex="40%">
          <!--  Experiências Left Col (form) -->

          <h5 class="txt-center m-t-0 m-b-0">Incluir Experiência</h5>

          <div fxLayout="row">
            <div fxFlex>

              <mat-form-field>
                <mat-label>
                  Nome da Empresa
                </mat-label>
                <input
                  matInput
                  formControlName="companyName"
                >
              </mat-form-field>          

            </div>
          </div>

          <div fxLayout="row">          
            <div fxFlex>

              <mat-form-field>
                <mat-label>
                  Cargo
                </mat-label>
                <input
                  matInput
                  formControlName="roleName"
                >
              </mat-form-field>          

            </div>
          </div>

          <div fxLayout="row">
            <div fxFlex="50%">

              <mat-form-field>
                <mat-label>
                  Data de Início
                </mat-label>
                <input
                  matInput
                  formControlName="startDate"
                >
              </mat-form-field>

            </div>
            <div fxFlex="48%" fxFlexOffset="2%">

              <mat-form-field>
                <mat-label>
                  Data de Saída
                </mat-label>
                <input
                  matInput
                  formControlName="endDate"
                >
              </mat-form-field>    

            </div>
          </div>

          <div fxLayout="row">          
            <div fxFlex>

              <mat-form-field>
                <mat-label>
                  Descrição
                </mat-label>
                <input
                  matInput
                  formControlName="description"
                >
              </mat-form-field>          

            </div>
          </div>

          <div fxLayout="row txt-center">
            <div fxFlex>

              <mat-checkbox>
                Emprego atual
              </mat-checkbox>

            </div>
          </div>
          
          <div fxLayout="row" class="m-t-30">
            <div fxFlex="60%" fxFlexOffset="20%">
              
              <button
                color="accent"
                class="w-100"
                mat-flat-button
                [disabled]="!isValid || flagSavingData"
                (click)="addWorkExperience()"
              >
                Adicionar Experiência
              </button>
              
            </div>  
          </div> 

          <!-- / Experiências Left Col (form) -->
        </div>
        <div fxFlex="58%" fxFlexOffset="2%">
          <!--  Experiências Right Col (list) -->
          
          <h5 class="txt-center m-t-0 m-b-0">Experiências Cadastradas</h5>

          <div
            fxLayout="row"
            class="txt-center"
            *ngIf="candidateExperience.length == 0"
          >
            <div fxFlex>
              (nenhuma experiência cadastrada)
            </div>
          </div>
          <div
            fxLayout="row"
            *ngFor="let experience of candidateExperience"
          >
            <div fxFlex>
              
              <mat-card class="default-card">
                <mat-card-content>

                  <div>
                    <div fxFlex="90%">

                      <h2 class="m-t-0">
                        {{ experience.companyName }}
                      </h2>

                    </div>
                    <div fxFlex="10%" class="txt-right">

                      <button
                        color="warn"
                        class="btn-sm op-5 op-hover"
                        mat-flat-button
                        (click)="removeExperience(experience)"
                      >
                        <i class="fa fa-trash"></i>
                      </button>

                    </div>
                  </div>
                  
                  <div fxLayout="row">
                    <div fxFlex *ngIf="experience.startDate || experience.endDate">
                      
                      <strong>Período:</strong>
                      {{ experience.startDate ? 'de ' + experience.startDate : ''    }}
                      {{ experience.endDate ? ' até ' + experience.endDate : ''  }}
                      {{ dateDiffString(experience.startDate, experience.endDate) }} 
                      
                    </div>
                  </div>
                  <p>
                    {{ experience.description }}
                  </p>
                  
                </mat-card-content>
              </mat-card>

            </div>
          </div>

          <!-- / Experiências Right Col (list) -->
        </div>
      </div>
      
    </form>
    
  </div>

</div>

