

<div class="row loader-panel tall" *ngIf="flagLoadingData">
  <div class="col">
    <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </div>
</div>

<div fxLayout="row" *ngIf="!flagLoadingData && editingObj">
  <div fxFlex>

    <h1 class="m-t-20">

      <a href="javascript:;" routerLink="/usuarios/buscar" style="text-decoration: none; color: #333">
        &lt;
      </a>

      <span *ngIf="flagNewCompany">
        Incluir Usuário
      </span>
      <span *ngIf="!flagNewCompany && editingObj">
        Editar <small>{{ editingObj.displayName }}</small>
      </span>
    </h1>

    <form [formGroup]="frmUser" novalidate>
      <mat-card class="default-card">
        <mat-card-content>

          <div fxLayout="row" fxLayoutGap="1%">
            <div fxFlex>

              <mat-form-field class="full-width">
                
                <mat-label>Nome</mat-label>
                <input
                  matInput
                  placeholder="Nome do usuário"
                  formControlName="displayName"
                >
              </mat-form-field>

            </div>
            <div fxFlex title="Não é possível alterar o email dos usuários">

              <mat-form-field class="full-width">
                
                <mat-label>Email</mat-label>
                <input
                  matInput
                  placeholder="Email do usuário"
                  formControlName="email"
                >
              </mat-form-field>

            </div>
            <!--div fxFlex="43%">

              <mat-form-field class="full-width">
                <mat-label>Logo</mat-label>
                <input
                  matInput
                  placeholder="Url da logo"
                  formControlName="logoUrl"
                  (blur)="updateDisplayLogo()"
                >
              </mat-form-field>

            </div>
            <div fxFlex="36%">
              <button
                mat-button
                color="accent"
                [disabled]="!isValid"
                (click)="useDefaultLogo()"
              >
                Usar Padrão
              </button>
            </div-->
            
          </div>

          <div fxLayout="row" fxLayoutGap="1%">
            <div fxFlex>

              <mat-form-field class="full-width">
                
                <mat-label>Telefone</mat-label>
                <input
                  matInput
                  placeholder="Telefone do usuário"
                  formControlName="phoneNumber"
                >
              </mat-form-field>

            </div>
            <div fxFlex>

              <mat-form-field class="full-width">
                
                <mat-label>Tipo</mat-label>
                <mat-select
                  placeholder="Tipo"
                  formControlName="roleName"
                >
                  <mat-option *ngFor="let role of roleList" [value]="role.value">
                    {{ role.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div fxFlex>

              <mat-form-field class="full-width">
                
                <mat-label>Empresa</mat-label>
                <mat-select placeholder="Empresa" formControlName="companyId">
                  <mat-option [value]="null">Nehuma Associação</mat-option>
                  <mat-option *ngFor="let company of companies" [value]="company.id">
                    {{ company.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>
          
        </mat-card-content>
        <mat-card-actions class="p-b-10">
          <button
            mat-raised-button
            color="accent"
            [disabled]="!isValid"
            (click)="save()"
          >
            <i class="fa fa-save"></i>
            Salvar Usuário
          </button>
        </mat-card-actions>
      </mat-card>

    </form>
  </div>
</div>
  