
<div fxLayout="row" *ngIf="candidate">
  
  <form [formGroup]="frmCandidate" fxFlex="100%">

    <div class="top-right-form-label" *ngIf="isCandidateValid && isProfileValid">
      <button
        color="accent"
        class="w-100"
        mat-flat-button
        (click)="saveBasicInfo($event)"
      > 
        <i class="fa fa-save"></i>
        Salvar
      </button>
    </div>

    <div class="top-right-form-label invalid-form-label" *ngIf="!isCandidateValid || !isProfileValid">

      <i class="fa fa-exclamation-triangle"></i>
      <small>
        Dados inválidos no formulário
      </small>

    </div>

    <h3>
      Dados Básicos
    </h3>

    <div class="avatar-pic" style="top: -70px" *ngIf="candidate.photoUrl">

      <img
        src="{{ candidate.photoUrl }}"
        alt="{{ candidate.name }}"
      >
  
    </div>

    <div fxLayout="row">
      <div fxFlex="68%" fxFlexOffset="15%">
        
        <mat-form-field class="full-width">
                
          <mat-label>Nome</mat-label>
          <input
            matInput
            placeholder="Nome da pessoa"
            formControlName="name"
            (change)="updateCandidateValue('name', $event)"
          >
        </mat-form-field>

      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="23%" fxFlexOffset="2%">

        <mat-form-field class="full-width">
                
          <mat-label>Data de Nascimento</mat-label>
          <input
            matInput
            placeholder="Data de Nascimento"
            formControlName="birth"
            (change)="updateCandidateValue('birth', $event)"
          >
        </mat-form-field>

      </div>
      <div fxFlex="23%" fxFlexOffset="2%">

        <mat-form-field class="full-width">
                
          <mat-label>CPF</mat-label>
          <input
            matInput
            placeholder="CPF"
            formControlName="cpf"
            (change)="updateCandidateValue('cpf', $event)"
          >
        </mat-form-field>

      </div>
      <div fxFlex="23%" fxFlexOffset="2%">

        <mat-form-field class="full-width">
                
          <mat-label>RG</mat-label>
          <input
            matInput
            placeholder="RG"
            formControlName="docRg"
            (change)="updateCandidateValue('docRg', $event)"
          >
        </mat-form-field>

      </div>
      <div fxFlex="23%" fxFlexOffset="2%">

        <mat-form-field class="full-width">
                
          <mat-label>Telefone</mat-label>
          <input
            matInput
            placeholder="Telefone"
            formControlName="phone"
            (change)="updateCandidateValue('phone', $event)"
          >
        </mat-form-field>

      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="23%" fxFlexOffset="2%">

        <mat-form-field class="full-width">
                
          <mat-label>Estado</mat-label>
          <mat-select formControlName="addrState" placeholder="Estado">
            <mat-option
              [value]="state.abrev"
              *ngFor="let state of states"
              (change)="updateCandidateValue('addrState', $event)"
            >
              {{ state.name }}
            </mat-option>
          </mat-select>

        </mat-form-field>

      </div>
      <div fxFlex="23%" fxFlexOffset="2%">

        <mat-form-field class="full-width">
                
          <mat-label>Cidade</mat-label>
          <mat-select formControlName="addrCity" placeholder="Cidade">
            <mat-option
              [value]="city"
              *ngFor="let city of cities"
              [disabled]="cities.length == 0"
              (change)="updateCandidateValue('addrCity', $event)"
            >
              {{ city }}
            </mat-option>
          </mat-select>

        </mat-form-field>

      </div>
      <div fxFlex="23%" fxFlexOffset="2%">

        <mat-form-field class="full-width">
                
          <mat-label>Bairro</mat-label>
          <input
            matInput
            placeholder="Bairro"
            formControlName="addrDistrict"
            (change)="updateCandidateValue('addrDistrict', $event)"
          >
        </mat-form-field>

      </div>
      <div fxFlex="23%" fxFlexOffset="2%">

        <mat-form-field class="full-width">
                
          <mat-label>CEP</mat-label>
          <input
            matInput
            placeholder="CEP"
            formControlName="addrPostalCode"
            (change)="updateCandidateValue('addrPostalCode', $event)"
          >

        </mat-form-field>

      </div>
    </div>
    

  </form>

</div>
<div fxLayout="row" *ngIf="candidateProfile">

  <!-- MODE: default -->
  <form [formGroup]="frmCandidateProfile" fxFlex="100%">

    <h3>
      Perfil
    </h3>
    
    <div fxLayout="row">
      <div fxFlex="23%" fxFlexOffset="2%">

        <mat-form-field class="full-width">
                
          <mat-label>Gênero</mat-label>
          <mat-select formControlName="gender">
            <mat-option
              [value]="gender.value"
              *ngFor="let gender of genders"
              (change)="updateProfileValue('gender', $event)"
            >
              {{ gender.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div fxFlex="23%" fxFlexOffset="2%">

        <mat-form-field class="full-width">
                
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="sex">
            <mat-option
              [value]="sex.value"
              *ngFor="let sex of sexes"
              (change)="updateProfileValue('sex', $event)"
            >
              {{ sex.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div fxFlex="23%" fxFlexOffset="2%">

        <mat-form-field class="full-width">
                
          <mat-label>Etnia</mat-label>
          <mat-select formControlName="ethnicity">
            <mat-option
              [value]="eth.value"
              *ngFor="let eth of etnicities"
              (change)="updateProfileValue('ethnicity', $event)"
            >
              {{ eth.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div fxFlex="23%" fxFlexOffset="2%" [title]="pne">

        <mat-radio-group
          aria-label="Pne?"
          formControlName="pne"
          (change)="updateProfileValue('pne', $event)"
        >
          <mat-label>
            Pne?
          </mat-label>
          <br>
          <mat-radio-button [value]="true">Sim</mat-radio-button>
          &nbsp;&nbsp;
          <mat-radio-button [value]="false">Não</mat-radio-button>
        </mat-radio-group>
        
        <div fxLayout="row" *ngIf="pne == true">
          <div fxFlex>

            <mat-form-field class="full-width">
                
              <mat-label>Obs</mat-label>
              <input
                matInput
                placeholder="Obs"
                formControlName="pneNote"
                (change)="updateProfileValue('pneNote', $event)"
              >
            </mat-form-field>

          </div>
        </div>

      </div>
    </div>

  </form>
</div>