
<div
  class="card-container"
  *ngIf="jobOffer"
>
  <div fxLayout="row">
      
    <div fxFlex="30%" class="avatar-pic default">

      <img
        src="{{ photoOf(jobOffer) }}"
      >

    </div>
    <div fxFlex="70%">

      <h3>
        <a href="javascript:;" routerLink="/vagas/{{ jobOffer.id }}">
          {{ jobOffer.title }}
        </a>
      </h3>
      <p>
        {{ jobOffer.description }}
      </p>
      <p *ngIf="company">
        {{ company.name }}
      </p>

    </div>
  </div>
</div>  