<div fxLayout="row">
  <div fxFlex>

    <h1 class="m-t-20">
      Buscar Vagas 
    </h1>
    <div style="float:left; margin: -3.6em 0em 0em 15em">
    
      <button mat-raised-button color="accent" routerLink="/vagas/incluir">
        Incluir Vaga
        <i class="fa fa-plus-circle"></i>
      </button>
      
    </div>

    <form [formGroup]="frmSearch" *ngIf="frmSearch" novalidate>
      <mat-card class="default-card">
        <mat-card-content>

          <div fxLayout="row" fxLayoutGap="1%">
            <div fxFlex="33%">

              <mat-form-field class="full-width">
                <input matInput placeholder="Título ou descrição" formControlName="text">
              </mat-form-field>
              
            </div>
            <div fxFlex="33%">

              <mat-form-field class="full-width">
                <input matInput placeholder="Nome da Empresa" formControlName="companyName">
              </mat-form-field>

            </div>
            <div fxFlex="33%">

              <mat-form-field class="full-width">

                <mat-select placeholder="Áreas de Trabalho" formControlName="searchInProfessions" multiple>
                  <mat-option *ngFor="let prof of professions" [value]="prof">
                    {{ prof }}
                  </mat-option>
                </mat-select>

              </mat-form-field>

            </div>
          </div>
    
          <div fxLayout="row" fxLayoutGap="1%">
            <div fxFlex="33%">

              <mat-form-field class="full-width">

                <mat-select placeholder="Em qualquer lugar" formControlName="locationType">
                  <mat-option value="any">Em qualquer lugar </mat-option>
                  <mat-option value="near">Próximos a um CEP</mat-option>
                  <mat-option value="state">Em um estado</mat-option>
                  <mat-option value="city">Em uma cidade</mat-option>
                  <mat-option value="international">Internacionais</mat-option>
                  <mat-option value="remote">Remotos (de casa)</mat-option>
                </mat-select>

              </mat-form-field>
              
            </div>
            <div fxFlex="33%">

              <div
                class="row"
                *ngIf="frmSearch.controls.locationType.value == 'near'"
              >
                <div class="col">

                  <mat-form-field class="full-width">

                    <input
                      matInput
                      placeholder="CEP"
                      [textMask]="cepMask"
                      formControlName="seachNearZip"
                    >

                  </mat-form-field>

                </div>
              </div>
              
              <div
                class="row"
                *ngIf="frmSearch.controls.locationType.value == 'state'"
              >
                <div class="col">

                  <mat-form-field class="full-width">

                    <mat-select placeholder="Estados" formControlName="searchInStates" multiple>
                      <mat-option *ngFor="let state of states" [value]="state.abrev">
                        {{ state.name }}
                      </mat-option>
                    </mat-select>

                  </mat-form-field>

                </div>
              </div>
              <div
                class="row"
                *ngIf="frmSearch.controls.locationType.value == 'city'"
              >
                <div class="col">

                  <mat-form-field class="full-width">

                    <mat-select placeholder="Estado" formControlName="searchInCitiesOfState">
                      <mat-option *ngFor="let state of states" [value]="state.abrev">
                        {{ state.name }}
                      </mat-option>
                    </mat-select>

                  </mat-form-field>

                </div>
              </div>
              
            </div>
            <div fxFlex="33%">

              <div
                class="row"
                *ngIf="frmSearch.controls.locationType.value == 'city'"
              >
                <div class="col">

                  <div class="row">
                    <div class="col" *ngIf="!frmSearch.controls.searchInCitiesOfState.value">

                      <p class="op-5">
                        <small>(escolha o estado)</small>
                      </p>
                      
                    </div>
                    <div class="col" *ngIf="frmSearch.controls.searchInCitiesOfState.value">

                      <mat-form-field class="full-width">
                        
                        <mat-label>Cidades:</mat-label>
                        <mat-select
                          placeholder="Cidades"
                          formControlName="searchInCities"
                          multiple
                        >
        
                          <mat-option *ngFor="let city of citiesOfSelectedState" [value]="city">
                            {{ city }}
                          </mat-option>

                        </mat-select>
                      
                      </mat-form-field>

                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>

        </mat-card-content>
        <mat-card-actions class="p-b-10">
          
          <button
            mat-button
            color="warning"
            (click)="clearParams()"
            style="margin-right: 2.1em;"
          >
            Limpar Parâmetros
          </button>

          <button
            mat-raised-button
            color="primary"
            (click)="search()"
          >
            Buscar
          </button>
        </mat-card-actions>
      </mat-card>

      <div class="row loader-panel" *ngIf="flagLoadingData">
        <div class="col">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </div>
      </div>

      <div fxLayout="row" *ngIf="!flagLoadingData && jobOffers != null">
        <div
          class="no-items"
          *ngIf="jobOffers.length == 0"
        >

          Nenhuma vaga encontrada com esses parâmetros...

        </div>
        <div
          fxFlex
          *ngIf="jobOffers.length > 0"
        >

          <div
            fxLayout="row wrap"
            fxLayoutAlign="column"
            *ngIf="jobOffers.length > 0"
          >
            <div fxFlex="49.5%" *ngFor="let offer of jobOffers">

              <app-job-offer-card [jobOffer]="offer" [company]="companies[offer.companyId]"></app-job-offer-card>

            </div>      
          </div>
        
        </div>

      </div>

    </form>
  </div>
</div>
