
<h1>Perfil</h1>

<form [formGroup]="frmCandidateProfile">

  <mat-card class="default-card">
    <mat-card-content *ngIf="flagLoadingData">

      <div
        fxLayout="row"
        class="loader-panel"
        style="padding-left: 48%; padding-top: 2.6em"
      >

        <!--fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon-->
        <i class="fas fa-spinner"></i>
        
      </div>

    </mat-card-content>
    <mat-card-content *ngIf="!flagLoadingData">

      <div fxLayout="row">
        <div fxFlex>

          <mat-form-field>
            <mat-label>
              Qual é a sua auto-identificação de raça-etnia?
            </mat-label>
            <mat-select formControlName="ethnicity">
              <mat-option
                [value]="eth.value"
                *ngFor="let eth of etnicities"
              >
                {{ eth.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
      
      <div fxLayout="row">
        <div fxFlex>

          <mat-form-field>
            <mat-label>
              Em relação ao seu gênero, qual é aquele que você se identifica?
            </mat-label>
            <mat-select formControlName="gender">
              <mat-option
                [value]="gender.value"
                *ngFor="let gender of genders"
              >
                {{ gender.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex>

          <mat-form-field>
            <mat-label>
              Qual é sua orientação afetiva-sexual?
            </mat-label>
            <mat-select formControlName="sex">
              <mat-option
                [value]="sex.value"
                *ngFor="let sex of sexes"
              >
                {{ sex.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>

      
      <div fxLayout="row">
        <div fxFlex>

          <mat-radio-group
            aria-label="Pessoa com deficiência?"
            formControlName="pne"
          >
            <mat-label>
              Você é uma pessoa portadora de necesidades especiais?
            </mat-label>
            <br>
            <mat-radio-button value="true">Sim</mat-radio-button>
            &nbsp;&nbsp;
            <mat-radio-button value="false">Não</mat-radio-button>
          </mat-radio-group>

        </div>
      </div>
      
      <div fxLayout="row" *ngIf="flagIsPcd">
        <div fxFlex>

          <mat-form-field>
            <mat-label>
              Necessita quais recursos especiais?
            </mat-label>
            <input
              matInput
              formControlName="pneNote"
            >
          </mat-form-field>

        </div>
      </div>

    </mat-card-content>
  </mat-card>
  
  <div fxLayout="row" class="m-t-30" *ngIf="!flagLoadingData">
    <div fxFlex="33%" fxFlexOffset="33%">
      
      <button
        color="accent"
        class="w-100"
        mat-flat-button
        [disabled]="!isValid"
        (click)="save($event)" 
      >
        Salvar Dados
      </button>
      
    </div>  
  </div>

</form>

