
<h1>Maches Home</h1>

<form [formGroup]="frmMatchProfile">

  <mat-card class="default-card">
    <mat-card-content *ngIf="flagLoadingData">

      <div
        fxLayout="row"
        class="loader-panel"
        style="padding-left: 48%; padding-top: 2.6em"
      >

        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        
      </div>

    </mat-card-content>
    <mat-card-content *ngIf="!flagLoadingData">

      <div fxLayout="row">
        <div fxFlex="50%" class="txt-center" style="padding: 2em">

          <a href="javascript:;" rouerLink="/matches/vagas-para-candidate" class="txt-xlg button">
            
            <span class="txt-xxlg">
              <i class="fa fa-building"></i>
              <i class="fa fa-arrow-right"></i>
              <i class="fa fa-user"></i>
            </span>
            
            Vagas para Candidates
          </a>
          
        </div>
        <div fxFlex="50%" class="txt-center" style="padding: 2em">

          <a href="javascript:;" rouerLink="/matches/candidates-para-vagas" class="txt-xlg button">

            <span class="txt-xxlg">
              <i class="fa fa-user"></i>
              <i class="fa fa-arrow-right"></i>
              <i class="fa fa-building"></i>
            </span>

            Candidates para Vagas
          </a>

        </div>
      </div>
      
    </mat-card-content>
  </mat-card>
  
</form>

