
<div fxLayout="row" *ngIf="editingObj">
  <div fxFlex>

    <h1 class="m-t-20">

      <a href="javascript:;" routerLink="/vagas/buscar" style="text-decoration: none; color: #333">
        &lt;
      </a>

      {{ editingObj.title }}

      <small class="txt-xxsm" title="Vaga {{ editingObj.id }}">
          &nbsp;&nbsp;
          <a
            href="javascript:;"
            [routerLink]="'/vagas/editar/' + editingObj.id"
            title="Editar vaga"
          >
            <i class="fa fa-edit"></i>
          </a>
      </small>
    </h1>

    <mat-card class="default-card">
      <mat-card-content>

        <div fxLayout="row" fxLayoutGap="1%">
          <div fxFlex="33%">

            <span *ngIf="companies[editingObj.companyId]">
              {{ companies[editingObj.companyId].name  }}
            </span>

          </div>
          
        </div>

        <div fxLayout="row" fxLayoutGap="1%">
          <div fxFlex="33%">

            {{ editingObj.title }}
            
          </div>
          <div fxFlex="33%">

            {{ editingObj.level }}

          </div>
          <div fxFlex="33%">

            {{ editingObj.jobOfferType }}

          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="1%">
          <div fxFlex>

            {{ editingObj.areas | json }}

          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="1%">
          <div fxFlex>

            {{ editingObj.habilities | json }}
            
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="1%">
          <div fxFlex>

            {{ editingObj.tags | json }}

          </div>
        </div>
  
        <div fxLayout="row" fxLayoutGap="1%">
          <div fxFlex>

            {{ editingObj.description }}

          </div>
        </div>
        
      </mat-card-content>
      <mat-card-actions class="p-b-10">
       &nbsp;
      </mat-card-actions>
    </mat-card>

  </div>
</div>
  