
<div *ngIf="flagLoadingData">

  <mat-card class="default-card">
    <mat-card-content>

      <div
        fxLayout="row"
        class="loader-panel"
        style="padding-left: 48%; padding-top: 2.6em"
      >

        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        
      </div>

    </mat-card-content>
  </mat-card>
  
</div>
<div *ngIf="!flagLoadingData && candidateDetails">

  <div fxLayout="row">
    <div fxFlex="70%">

      <h1>
        {{ candidateDetails.candidate.name }}
      </h1>
        
    </div>
    <div fxFlex="30%" class="txt-right p-t-30">

      <button
        mat-stroked-button
        color="accent"
        type="button"
        class="m-r-20"
        title="Destacar"
      >
        <i class="fa fa-external-link-alt"></i>
      </button>
  
      <button
        mat-stroked-button
        color="accent"
        (click)="printPreview($event)"
        title="Imprimir"
      > 
        <i class="fa fa-print"></i>
      </button>
      
    </div>
  </div>

  <mat-card class="default-card m-t-0">
    <mat-card-content>
    
      <app-candidate-panel-details
        [candidateDetails]="candidateDetails"
        [showTitle]="false"
      ></app-candidate-panel-details>

      
    </mat-card-content>
  </mat-card>

  <div fxLayout="row" class="m-t-30" *ngIf="!flagLoadingData">
    <div fxFlex>

      <p class="m-t-10 txt-center">

        <button
          mat-stroked-button
          color="accent"
          type="button"
          class="m-r-20"
        >
          <i class="fa fa-external-link-alt"></i>&nbsp;&nbsp;Destacar
        </button>
    
        <button
          mat-stroked-button
          color="accent"
          (click)="printPreview($event)"
        > 
          <i class="fa fa-print"></i>&nbsp;&nbsp;Imprimir
        </button>
        
      </p>
      
    </div>  
  </div>  

  
</div>
